/*Media query*/

* , *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

@media only screen and (max-width: 320px) {
  /*display: grid;
  grid-template-columns: 100%;*/
  
  body .profileInfo{
    display: flex;
    flex-direction: column;
  }
  body .profileInfo #ProfileI .profilePicContent{
    padding:  0;
  }
  body .profileInfo #ProfileI .profilePicContent #ProfilePic{
    background-image: none;
    padding: 0;
    
  }
  body .profileInfo .contDes .description #descpr{
    position: relative;
    text-align: center;
    
  }

  body .info2{
    display: flex;
    flex-direction: column;
  }

  body .firstDiv{
    display: flex;
    flex-direction: column;
  }

  body .favFood{
    display: flex;
    flex-direction: column;
  }

  body .location{
    display: flex;
    flex-direction: column;
  }
  
  body .myTable{
    display: flex;
    flex-direction: column;
  }

  body .myMusic{
    display: flex;
    flex-direction: column;
  }
  
}
  /*display: grid;
  grid-template-columns: 48%;
  grid-template-rows: 30% 30% 5% 20%;
  

}*/