html{
  
}
body .content{
  display: grid;
  grid-template-columns: 48% 50%;
  row-gap: 27px;
  column-gap: 11px; 
  grid-template-areas: 
    "r11 r12"
    "r21 r22"
    "r31 r32" 
}

.content .profile{
  grid-area: r11;
}
.content .description{
  grid-area: r12;
}
.content .social-media{
  grid-area: r21;
}
.content .scroll{
  grid-area: r22;
}
.content .division11{
  grid-area: r31;
}
.content .division12{
  grid-area: r32;
}
*{
  background-color: rgb(37, 29, 58);
  font-family: 'Quicksand', sans-serif;
}
.container{
  max-width: 100% !important;
  overflow-x: hidden !important;
}
h1{
  text-align: center;
}
li{
  float:left;
  list-style: none;
  padding:10px;
  margin-left: 35px;
}
header{
  background-color:rgb(42, 37, 80);
  border: 1pt solid black;
  max_width: 100%;
}
#Profile #ProfilePic:hover{
  box-shadow: 0px 50px 75px -25px #ad3500 !important;
  top: 1px !important;
}
#Code{
  width: 100px;
  hight: 250px;
  margin-top:20px;
  margin-right: 15px;
  background-color: rgb(42, 37, 80);
  margin-left: 100px;
}
#FirstI{
  width: 150px;
  margin-top:10px;
  margin-left:25px;
  background-color: rgb(42, 37, 80);
}
#Title{
  margin-right:20%;
  margin-top: 3%;
  color:white;
  font-family:courier;
  background-color: rgb(224, 77, 1);
  text-align: center;
  width: 25%;
  max-height: 70%;
  border: 1px solid black;
  line-height: 60px;
  box-shadow: 1px 1px 5px 5px  #f4d50b;
}
#SubTitle{
  padding-left: 2%;
  color: white;
  background-color: rgb(42, 37, 80);
}
h1{
  float:right;
}


.profile{
  position: relative;  
}
#Anime{
  width: 20rem;
  heigth: 200rem;
  top: 27px;
  position: absolute;
  border-radius: 10%;
  margin-left: 20%;
}
#ProfilePic{
  width: 120px;
  height: 150px;
  border-radius: 20%;
  position: absolute;
  top: 40px;
  margin-left: 33%;
  box-shadow: 2px 2px 5px #050505
}

.description{
  position: relative;
}
#Paint{
  width: 300px;
  height: 150px;
  float: right;
}
#descpr{
  position: absolute;
  float: left;
  padding-right: 20%;
  text-align: left;
  background-color: transparent;
  color: white;
  line-height: 25pt;
  font-size: 18px;
}

.socialI{
  color: #787878;
  transition: color0.2s;
  font-size: 30px;
}
.social-media{
  margin-left: 15%;
  padding-top: 5%;
}
.socialI:hover{
  color:#ff7700;
}


#codeIcon {
  font-size: 36px;
  margin-top: 10%;
  margin-left: 45%;
  color: rgb(255, 141, 41);
}
#scroll-Text{
  font-size: 20px;
  color: rgb(255, 141, 41);
  float:right;
  margin-top: 11%;
  margin-right: 10%;
}

#soccerIcon{
  margin-top: -5%;
  font-size: 60px;
  float: right;
  margin-right: -6%;
  color: rgb(255, 141, 41);
}
