
body .profileInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "p1 p2"
}
.profileInfo .profile{
  grid-area: p1;
}
.profileInfo .description{
  grid-area: p2;
}


body .info2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "in1 in2"
}
.info2 .social-media{
  grid-area: in1;
}
.info2 .scroll{
  grid-area: in2;
}


body .firstDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "fd1 fd2"
}
.firstDiv .division11{
  grid-area: fd1;
}
.firstDiv .division12{
  grid-area: fd2;
}


body .favFood{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "ffood1 ffood2"
}
.favFood .fFT{
  grid-area: ffood1;
}
.favFood .fFI{
  grid-area: ffood2;
}


body .location{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "l1 l2"
}
.location .myLocationI{
  grid-area: l1;
}
.location .myLocationM{
  grid-area: l2;
}


body .myTable{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "t1 t2"
}
.myTable .myTableT{
  grid-area: t1;
}
.myTable .myTableI{
  grid-area: t2;
}



body .myMusic{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "m1 m2"
}
.myTable .myMusicI{
  grid-area: m1;
}
.myTable .myMusicA{
  grid-area: m2;
}


body .division2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "d1 d2"
}
.division2 .line1{
  grid-area: d1;
}
.division2 .line2{
  grid-area: d2;
}


body .formulario{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "f1"
}
.formulario{
  grid-area: d1;
}
