body .content{
  display: grid;
  grid-template-columns: 48% 50%;
  grid-template-rows: 7fr 5fr 1fr 10fr 8fr;
  row-gap: 1%;
  column-gap: 5%; 
  grid-template-areas: 
    "r11 r12"
    "r21 r22"
    "r31 r32" 
    "r41 r42"
    "r51 r52";
}
.content .profile{
  grid-area: r11;
}
.content .description{
  grid-area: r12;
}
.content .social-media{
  grid-area: r21;
}
.content .scroll{
  grid-area: r22;
}
.content .division11{
  grid-area: r31;
}
.content .division12{
  grid-area: r32;
}
.content .fFT{
  grid-area: r41;
}
.content .fFI{
  grid-area: r42;
}
.content .myLocationI{
  grid-area: r51;
}
.content .myLocationM{
  grid-area: r52;
}

body .myTable{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "t1 t2"
}
.myTable .myTableT{
  grid-area: t1;
}
.myTable .myTableI{
  grid-area: t2;
}

body .myMusic{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%; 
  grid-template-areas: 
    "m1 m2"
}
.myTable .myMusicI{
  grid-area: m1;
}
.myTable .myMusicV{
  grid-area: m2;
}