html{
  
}
body .content{
  display: grid;
  grid-template-columns: 48% 50%;
  row-gap: 27px;
  column-gap: 11px; 
  grid-template-areas: 
    "r11 r12"
    "r21 r22"
}

.content .profile{
  grid-area: r11;
}
.content .description{
  grid-area: r12;
}
.content .social-media{
  grid-area: r21;
}
.content .scroll{
  grid-area: r22;
}
*{
  background-color: rgb(37, 29, 58);
  font-family: 'Quicksand', sans-serif;
}
.container{
  max-width: 100% !important;
  overflow-x: hidden !important;
}
h1{
  text-align: center;
}
li{
  float:left;
  list-style: none;
  padding:10px;
  margin-left: 35px;
}
header{
  background-color:rgb(42, 37, 80);
  border: 1pt solid black;
  max_width: 100%;
}
#Profile #ProfilePic:hover{
  box-shadow: 0px 50px 75px -25px #ad3500 !important;
  top: 1px !important;
}
#Code{
  width: 100px;
  hight: 250px;
  margin-top:20px;
  margin-right: 15px;
  background-color: rgb(42, 37, 80);
  margin-left: 100px;
}
#FirstI{
  width: 150px;
  margin-top:10px;
  margin-left:25px;
  background-color: rgb(42, 37, 80);
}
#Title{
  margin-right:20%;
  margin-top: 3%;
  color:white;
  font-family:courier;
  background-color: rgb(224, 77, 1);
  text-align: center;
  width: 25%;
  max-height: 70%;
  border: 1px solid black;
  line-height: 60px;
}
#SubTitle{
  padding-left: 2%;
  color: white;
  background-color: rgb(42, 37, 80);
}
h1{
  float:right;
}


.profile{
  position: relative;  
}

#Anime{
  width: 10rem;
  heigth: 50px;
  top: 40px;
  position: absolute;
  border-radius: 10%;
  margin-left: 50%;
}
#ProfilePic{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  box-shadow: 2px 2px 5px #050505
}

#descpr{
  text-align: left;
  color: white;
  line-height: 25pt;
}

.socialI{
  color: #787878;
  transition: color0.2s;
  font-size: 30px;
  
}
.socialI:hover{
  color:#ff7700;
}