



html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

img{
    width: 100%;
    height: auto;
}






.futbolBadgeContainer{
    display: flex;
    justify-content: center;
}

.futbolBadgeContainer .futbolBadgeContainer2{
    width: 20%;
}

/*Estilos del listado de opciones*/
.input-group #selectOption{
    width: 70%;
    height: 100%;
    padding: 10px;
    background-color: #edf2ff;
    border: none;
    margin: 3%;
}

#ListaAnime{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

h2{
    color: rgb(24, 20, 255);
}

button.button {
    color: rgb(255, 255, 255);
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Avenir Next';
    font-size: 1rem;
    padding: .5rem 3rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgb(0, 0, 0) inset;
}