/* Made with love by Mutiullah Samim*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;

}

img{
    width: 100%;
    height: auto;
}
.container{
height: 100%;
align-content: center;
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: auto;
width: 500px;
background-color: rgba(0,0,0,0.5) !important;

}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background: linear-gradient(90deg, hsla(324, 99%, 66%, 1) 0%, hsla(170, 97%, 51%, 1) 100%);
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

@media only screen and (max-width: 400px){

    html, body{
        background-image: url('https://i.pinimg.com/564x/7d/30/ce/7d30cee35945e520827ed70dfc006ecc.jpg');
    }

}

/*estilos para boton login*/
.login_btn{
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

.containerImgMessi{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #FE53BB, #09FBD3) 1;
    border-radius: 50%;


}

.messiImageContainer{
    justify-self: center;
    width: 250px;
    border-width: 4px;
}

.titulo{
    display: flex;
    color:white;
    justify-content: center;
}
.titulo #TituloF{
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
}

.subtitulo{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    color:white;
}
.subtitulo #SubF{
    font-size: 12px;
}